@import url(/assets/Montserrat-Regular.ttf);
@import url(/assets/OldStandardTT-Regular.ttf);


/*ESTILOS DE RESET*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

/*Globals*/
body {
    background-color: #F5F1ED;
    font-family: 'Montserrat', sans-serif;
    
}
h1{
   
    color: #DAD2BC;
}
h2{
    font-size: 35px;
    font-family: 'Old Standard TT', serif;
    color: #252323;
}
/*LAYOUT*/
header {
    background-color: #A99984;
    display:flex;
    align-items: center;
}
header .logo img{
    width: 113.69px;
    height: 111.61px;
    left: 5.97px;
    top: 116.52px;
    transform: rotate(-92deg);
}
header .wider-world-title h1{
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    color: #DAD2BC;
}

header nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header nav ul li {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    color: #DAD2BC;
}
main .search-bar {
    height: 45px;;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;;
}
main .search-bar input {
    border: #A99984 solid 1px;
    background: #DAD2BC;
    border-radius: 5px;
    color: #A99984;
    width: 300px;
    height: 24px;
}
main .event-image img{
    width:250px;
    border-radius: 30px;
    padding: 5px;
}


/*FOOTER*/
footer{
    background-color: #A99984;
    color: #F5F1ED;
}
footer .contact-info{
    display:flex;
    flex-direction: column;
    padding: 15px;
}