@import url(/assets/Montserrat-Regular.ttf);
@import url(/assets/OldStandardTT-Regular.ttf);


/*ESTILOS DE RESET*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}
p, span{
  color: #DAD7BC;

}
/*Globals*/
body {
    background-color: #F5F1ED;
    
    font-family: 'Montserrat', sans-serif;
    background: conic-gradient(from -70.76deg at 50.03% 60.97%, #252323 0deg, #252323 187.5deg, #DAD7BC 236.22deg, #252323 279.06deg, #252323 360deg);
}
h1{
    color: #DAD2BC;text-shadow:
     5px 5px 5px black;
    }

h2{
    font-size: 35px;
    font-family: 'Old Standard TT', serif;
    color: #DAD2BC;
    text-shadow: 5px 5px 5px black;
    
}
h3{
  font-size: 22px;
  font-family: 'Old Standard TT', serif;
  color: #A99984;
  text-shadow: 5px 5px 5px black;
}
h4{
  font-size: 14px;
  font-family: 'Old Standard TT', serif;
  color: #A99984;
  
  
}
h5{
  font-size: 12px;
  font-family: 'Old Standard TT', serif;
  color: #70798c;
 
  
}


button{
  background-color: #A99984;
  color: white;
  border-radius: 10px;
  border: transparent;
  width: 100px;
  height: 30px;
}

#input{
  width: 80%;
  height: 30px;
  padding-left: 15px;
  border-radius: 30px;
}

/*LAYOUT*/
header {
    background-color: #A99984;
}
header .logo {
  display: flex;
  align-items:center;
}
header .logo img{
    width: 113.69px;
    height: 111.61px;
    transform: rotate(-92deg);
}

header .logo .anim-logo {
  position: relative;
}

header .logo .anim-logo  h1 {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  color: #DAD2BC;
  position: absolute;
  transform: translate(0, -50%);
}

header .logo .anim-logo h1 :nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #A99984;
}

header .logo .anim-logo h1:nth-child(2) {
  color:#252323;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 70%,
      84% 59%,
      100% 50%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 100px;
  margin-bottom: 5px;
}
header nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}
header nav ul li a {
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #DAD2BC;
    margin-bottom: 5px;
}

header nav ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color:#252323;
  text-decoration-style: solid;
  text-transform: uppercase;
  
}

header nav .login-signup-icon img {
    width: 25px;
    margin-right: 20px;
    align-self: flex-start;
}

main{
  margin: 5%;
}

main .search-bar {
    height: 45px;;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    width: 100%;
}
main .search-bar input {
    border: #A99984 solid 1px;
    background: #DAD2BC;
    border-radius: 5px;
    color: #A99984;
    width: 300px;
    height: 24px;
}

main .event-image img{
    width:250px;
    border-radius: 30px;
    padding: 5px;
}

form{
    width: 100%;
}
/*FOOTER*/

footer{
    background-color: #A99984;
    color: #252323;
    
}
footer .contact-info{
    display:flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 20px;

}
footer .contact-info span{
    color:#252323;
    line-height: 35px;
}

/* Login page styling */

.login-page {
    display: flex; 
    height: 600px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #DAD2BC;
    margin: 20px;
}

.login-form {
    background: #70798c;
    padding: 20px;
    width: 280px;
}

.login-form-title {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 35px;
    margin: 15px;
    
}

.login-page input {
        padding: 4px;
        font-size: 16px;
        margin: 2px;
}

.login-data {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.submit-button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border: 1px solid #DAD2BC;
    margin: 20px 5px;
    background-color: #A99984;
}

.login-submit {
    border: none;
    background-color: #A99984;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #252323;
}

.forgot-password {
    display: flex; 
    justify-content: center;
    padding: 5px;
}

/*Signup page styling*/

.signup-page {
    display: flex; 
    height: 600px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #DAD2BC;
    margin: 20px;
}

.signup-form {
    background: #70798c;
    padding: 20px;
    width: 270px;
}

.signup-data {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.signup-page input {
    padding: 4px;
    font-size: 16px;
    margin: 2px;
}

.login-direct {
    display: flex;
    justify-content: center;
}

/* Choose a travel pack styling */
#kiko-slider {
  font-family: sans-serif;
  margin: auto;
  background-color:#70798c;
  max-width: 300px;
  width: 500%;
  padding: 30px;
  box-sizing:border-box;
  border-radius: 30px;
  
}


#kiko-slider>ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#kiko-slider>ul.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

#kiko-slider>ul.slider h1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}

#kiko-slider>ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #fff;
}

#kiko-slider>ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#kiko-slider>ul.slider li:first-child {
  opacity: 1;
  /*Mostramos el primer <li>*/
}

#kiko-slider>ul.slider li:target {
  opacity: 1;
  /*Mostramos el <li> del enlace que pulsemos*/
}

#kiko-slider>.menu {
  text-align: center;
  margin: 10px;
}

#kiko-slider>.menu li {
  display: inline-block;
  text-align: center;
  padding: 20px;
}

#kiko-slider>.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}


  /*HERO*/
  .hero-image{
    background-image: url(assets/hero-image.jpg);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*GALLERY*/
  .event-image{
    margin: 0px 5%;
  }

  .event{
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 1%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;

  }
  .event:hover {
      filter: contrast(1.75);
      border:#DAD2BC solid 2px;
  }

  .one{
    background-image: url(assets/socrates-image.png);
  }

  .two{
    background-image: url(assets/martin-luther-king-image.png);
  }

  .three{
    background-image: url(assets/emmeline-pankhurst-image.png);
  }

  .four{
    background-image: url(assets/maradona-image.png);
  }

  .five{
    background-image: url(assets/mohammad-ali-image.png);
  }

  .six{
    background-image: url(assets/science-conference-image.png);
  }

  .seven{
    background-image: url(assets/napoleon-image.jpg);
  }

  .eight{
    background-image: url(assets/woodstock-image.png);
  }

  .nine{
    background-image: url(assets/twenties-image.png);
  }

  .ten{
    background-image: url(assets/grunge-image.png);
  }

  .eleven{
    background-image: url(assets/ancient-greece-image.png);
  }

  .twelve{
    background-image: url(assets/buda-image.png);
  }

  .thirteen{
    background-image: url(assets/valentina-tereshkova-image.jpg);
  }

  .fourteen{
    background-image: url(assets/elizabeth-image.jpg);
  }

  .fifteen{
    background-image: url(assets/messi-image.jpg);
  }


  /* Signup rerout to login page from pack page for buying */
  
  .intouch{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 25px;
    border: 2px solid #A99984;
    background-color: #DAD2BC;
    color: #252323;
    font-weight: bold;
  }

  /*ABOUT US*/
  main .about-us{
    display: flex;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-shadow: 5px 5px 5px black;
  }
  main .about-us img{
    width: 100%;
  }
  main .our-team{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
   
  }
  main .our-team .team-member {
    background-color: #DAD2BC;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;

  }
  main .our-team .team-member img{
    width: 150px;

  }

  /*SECURITY*/
  main {
    
  }
  main .content-security {
    justify-content: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/security-image.png);
    height: 1300px;
  }
  main .content-security .text-content-security {
    justify-content: center;
    width: 800px;
    color: #252323;
    margin-left: 200px;
  }
  main .content-security .text-content-security p{
    color:#252323;
    margin-left: 30px;
    padding: 20px;
  }
  main .content-security .text-content-security ol{
    color:#252323;
    margin-left: 30px;
    padding: 20px;
  }
  main .content-security ol li{
    list-style: decimal;
  }
  /*MEET THE FEMINISTS*/
  .extra-page-title{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 20px;
    text-shadow: 5px 5px 5px black;
    }

    .pack-images img{
      width: 400px;
      height: 400px;
      border-radius: 50px;
      border: 30px solid #A99984;
      background-color: #DAD2BC;
      margin-left: 40px;
    }
    .pack-info{
    display: flex;
    line-height: 35px;
    letter-spacing: 0.01em;
    margin: 50px;
    padding: 10px;
    text-shadow: 5px 5px 5px black;
      
    }
    .pack-content{
      margin: 50px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      line-height: 35px;
      letter-spacing: 0.01em;
      font-family: 'Montserrat', sans-serif;
      text-shadow: 5px 5px 5px black;
    }
    .pack-content ul{
      margin: 10px;
      padding: 10px;
    }

    .pack-info br {
       margin-bottom: 15px;
    }
    

  /*Testimonials styling */

  .testimonials article {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
  }

  .testimonials h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .testimonial {
    margin-bottom: 15px;
    text-align: justify;
    border: 1px solid #A99984;
    padding: 10px;
  
  }

  .testimonials br {
    margin-bottom: 10px;
  }

  .pack-content li {
    list-style-type: circle;
  }